@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p> We are a leicester base company</p>

<p> With over 15 years of experience our expertise lies in deliveries goods nationwide and importing and exporting other goods to the UK </p>

<p> Whether you are a international businesses wishing to send products abroad or a student wishing to relocate, we can able to 
assist you, by providing an excellent delivery service at a great price</p>

<p> Get in touch regarding any enquiries you may have and we may be able to help you </p>

