
@model PantherParcel.Models.ParcelDetails;
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Latest compiled and minified CSS -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        <style>
            .hideError{

                visibility:hidden;
                color:red;
            }
        </style>

		<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
    </head>
    <body style="background-image: url('https://cdn.parcelbroker.co.uk/images/home-bg.jpg'); background-size:cover;">

         <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <h2 class="navbar-brand"> Parcel Polo </h2>
                    </div>
                    <ul class="nav navbar-nav">
                         <li>About Us</li>
                    </ul>   
                </div>  
            </nav>

		

        <div style="background:white; padding:0; margin:0; border: 2px solid red;">


			Thank you for making a parcel delivery booking with us 
        </div>
		

          <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript">

		</script>
		
    </body> 
<html>

