@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Leicester warehouse<br />
	WheatStreet<br />

	<abbr title="Phone">P: 07575411702</abbr>
 
</address>

<address>
    <strong>Support:</strong> <a href="mailto:chaywa4@gmail.com">chaywa4@gmail.com</a><br />
</address>
